* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  display: flex;

  height: 100vh;
}

#container {
  /* width: 100%;
  height: 100%; */
  flex: 1;

  /* change later */
  padding: 20px;
}
#compare {
  flex: 1;
  padding: 20px;
  border-left: 1px solid black;
}

/* .change-box {
  display: flex;
  justify-content: flex-start;
  width: 420px;
  position: absolute;
  right: 8px;
  bottom: 48px;
} */
.change-color-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  position: absolute;
  right: 8px;
  bottom: 48px;
}

.color-chip {
  width: 210px;
  height: 400px;
  background: black;
  color: white;
  /* border: 1px solid black; */
  border-radius: 6px;
}

#change-color h3 {
  height: 32px;
  display: flex;
  align-items: center;
}
/* #change-color div {
  display: flex;
} */
#change-color-buttons {
  display: flex;
}
#change-color div button {
  flex: 1;
  height: 32px;
  border: none;
  outline: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}
#color {
  width: 100%;
  border: none;
  border: 1px solid black;
  background: none;
  outline: none;
  height: 32px;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 8px;
  color: white;
  background-color: black;
  border-radius: 6px;
}
#color::placeholder {
  color: white;
}
/* #color:: */

.buttons {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 420px;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  flex: 1;
  background: black;
  color: white;
  border: none;
  outline: none;
  height: 32px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 6px;
}

.edit {
  position: absolute;
  right: 20px;
  /* top: 0; */
}

.component-list h3 {
  height: 32px;
  display: flex;
  align-items: center;
}

.lists {
  width: 420px;
  max-height: 60%;
  position: absolute;
  right: 8px;
  bottom: 88px;
  background: black;
  color: white;
  border-radius: 6px;
  padding: 12px;
  overflow: scroll;
}

.lists-cancel {
  background: black;
  color: white;
  border: none;
  outline: none;
  height: 32px;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  bottom: 48px;
  right: 8px;
  width: 420px;
}

.list {
  display: flex;
  cursor: pointer;
}

.list-thumbnail {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  /* border-right: 1px solid white; */
}
.list-desc {
  width: 360px;
  height: 80px;
  padding: 8px 20px;
  overflow: scroll;
}
